<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('sections/head.ejs') %>
</head>
<body class="text-light">
    <%- include('sections/loader.ejs') %>
    <%- include('sections/header.ejs') %>
    <%- include('sections/hero.ejs') %>
    <%- include('sections/services.ejs') %>
    <%- include('sections/works.ejs') %>
    <%- include('sections/aboutus.ejs') %>
    <%- include('sections/contact.ejs') %>
    <%- include('sections/footer.ejs') %>
</body>
</html>